@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  outline: 0;
}
body {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased !important;
}

[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}
[style*='--aspect-ratio'] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
  }
  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
